<div class="text-center container">
    @if(!isEn){
        <img [src]="imgSrc" width="80%" alt="Image placeholder" />
    }
    @if(isEn){
        <img src="../../../../assets/encryptionImage.png" width="80%" alt="Image placeholder" />
    }
</div>
<form [formGroup]="frmPicContent" class="container">
    <div class="form-group">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" name="description" formControlName="description" id="description" placeholder="Description" rows="4"> </textarea>
    </div>
    <div class="form-group">
        <label class="form-label" for="date">Date</label>
        <input type="date" name="date" id="date" formControlName="date" class="form-control" >
    </div>

    <div class="py-1">
        <button type="button" class="btn btn-primary mx-1" (click)="editGalleryItem()">Edit</button>
        <button type="button" class="btn btn-primary mx-1" (click)="deleteGalleryItem()">Delete</button>
    </div>
</form>

<div id="geo-container" style="width: auto; height: 25vh; margin-top: 2em;">

</div>
