<form [formGroup]="createUserForm">
  <div class="row gy-3 overflow-hidden">
    <div class="col-12">
      @if(createUserForm.controls['userName'].invalid &&
      createUserForm.controls["userName"].touched ){
      <p class="text-danger">Username is required</p>
      }
      <div class="form-floating mb-3">
        <input
          type="addUserName"
          class="form-control"
          name="addUserName"
          id="addUserName"
          formControlName="userName"
        />
        <label for="userName" class="form-label">User Name</label>
      </div>
    </div>
    <div formGroupName="passwordGroup" class="col-12">
      <div class="form-floating mb-3">
        <input
          type="addPassword"
          class="form-control"
          name="addPassword"
          id="addPassword"
          formControlName="_password"
        />
        <label for="password" class="form-label">Password</label>
      </div>
      @if(createUserForm.controls.passwordGroup.errors?.['passwordGroupError']){
        <p class="text-danger">Wack</p>
      }
      <div class="form-floating mb-3">
        <input
          type="addPassword2"
          class="form-control"
          name="addPassword2"
          id="addPassword2"
          formControlName="_password2"
        />
        <label for="password" class="form-label">Re-enter Password</label>
      </div>
    </div>
    <div class="col-12">
      <div class="d-grid">
        <button class="btn bsb-btn-2xl btn-primary" type="submit">
          Log in now
        </button>
      </div>
    </div>
  </div>
</form>
<form>form value : {{ createUserForm.value | json }}</form>
