.cont {
    width: 100%;
    min-height: 100vh; /* Start with 0 height */
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow to prevent content from showing before animation */
    animation: grow 0.5s ease-in-out forwards;
  }

  @keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
        height: 100%;
    }
  }
